* {box-sizing: border-box;}
form {
	position: relative;
	width: 100%;
	margin: 0 0;
	background: #F33F3F;
	border-bottom: 4px solid #b43030;
}

.input_text, .submit {
	border: none;
	outline: none;
	background: transparent;
	font-size: 15px;
	color: #fff;
	font-family: 'Century Gothic', sans-serif;
}

.input_text {
	width: 100%;
	height: 42px;
	padding-left: 15px;
	color: #fff;
}

.submit {
	height: 42px;
	width: 42px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.submit:before {
	content: "\f178";
	font-family: FontAwesome;
	font-size: 20px;
	color: #b43030;
}

::placeholder {
	color: #fff;
}