.catalog {
	/* Убираю маркеры у списка*/
	list-style: none;
	/* Делаю элементы блочными. */
	display: block;
}

.catalog:hover {
	background-color: #d73939;
}

.catalog_title {
	/* Делаю элементы блочными. */
	display: block;
	/* Задаю белый цвет. */
	color: #fff;
	/* Задаю отступ 10px. */
	padding: 10px;
	/* Убираю форматирование*/
	text-decoration: none;
	/* Задаю цвет. */
	background-color: #F33F3F;
}

.catalog > a {
	color: #fff;
}

.catalog > a:hover {
	color: #fff;
}

.catalog_sections {
	display: block;
	float: left;
}

.catalog:hover > .catalog_sections > ul {
	display: block;
}

ul.menu {
	position: absolute;
	z-index: 1500;
	/* Убираю маркеры у списка*/
	list-style: none;
	/* Делаю элементы блочными. */
	display: none;
	/* Убираю отступы. */
	margin: 0 0;
	/* Убираю еще отступы! */
	width: 100%;
}

ul:after {
	/* Делаю элементы блочными. */
	display: block;
	/* Убираю выравнивание. */
	float: none;
	content: ' ';
	clear: both;
}

ul.menu > li {
	/* Задаю выравнивание и позиционирование. */
	float: bottom;
	/* Считаем координаты относительно исходного места*/
	position: relative;
	width: 100%;
	padding: 0;
}

ul.menu > li > a {
	/* Делаю элементы блочными: */
	display: block;
	/* Задаю белый цвет. */
	color: #fff;
	/* Задаю отступ 10px. */
	padding: 10px;
	/* Убираю форматирование*/
	text-decoration: none;
	/* Задаю цвет. */
	background-color: #F33F3F;
	width: 70%;
	margin-right: 0px;
}

ul.menu > li > a:hover {
	/* Задаю цвет при наведении. */
	background-color: #d73939;
}

.submenu_container {
	/* Задаю выравнивание и позиционирование. */
	float: left;
	/* Считаем координаты относительно исходного места*/
	position: relative;
	width: 50%;
	display: block;
}

ul.submenu {
	position: absolute;
	z-index: 2000;
	left: 0px;
	/* Делаю субменю скрытыми. */
	display: none;
	/* Цвет — белый. */
	background-color: white;
	width: 100%;
}

ul.submenu > li {
	/* Блочное расположение элементов*/
	display: block;
}

ul.submenu > li > a {
	/* Делаю элементы блочными. */
	display: block;
	/* Убираю форматирование*/
	text-decoration: none;
	/* Задаю отступ. */
	padding: 10px;
	/* Задаю цвет. */
	color: #ffffff;
	/* Еще цвет. */
	background-color: #d73939;
}

ul.submenu > li > a:hover {
	/* Цвет бэкграунда при наведении. */
	background-color: #b43030;
	/* Задаю подчеркивание*/
	text-decoration: underline;
}

ul.menu > li:hover > .submenu_container > ul.submenu {
	/* Делаю элементы блочными. */
	display: block;
}